@import "tailwindcss";
@import "tw-animate-css";

/* 

[data-theme="light"] {
  --background-color: #ffffff;
  --surface-color: #f1f5f9;
  --primary-color: #134E9B;
  --primary-text-color: #1E293B;
  --secondary-text-color: #64748B;
}

[data-theme="dark"] {
  --background-color: #0F172A;
  --surface-color: #1E293B;
  --primary-color: #3B82F6;
  --primary-text-color: #F8FAFC;
  --secondary-text-color: #94A3B8;
} 

*/
body{
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  background-color: #F1EAF8;
}
.page-transition{
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  filter: blur(5px);
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('../../assets/fonts/roboto-v47-latin-100italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/roboto-v47-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto-v47-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/roboto-v47-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/roboto-v47-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/roboto-v47-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../../assets/fonts/roboto-v47-latin-800.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/fonts/roboto-v47-latin-900.woff2') format('woff2'); 
}
*{
  box-sizing: border-box;
  /* transition: background, background-color, color, border, box-shadow 0.3s ease-in-out; */
}
.containers{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.loading {
  background: linear-gradient(80deg, #d0d3d6 25%, #ffffff 50%, #d0d3d6 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
  border-radius: 6px;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.logo-i{
  width: 3px;
  height: 20px;
  background: #FEDB0E;
  transform: translateY(-6.5px);
  position: relative;
}
.logo-i-o{
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  border: 3px solid #FEDB0E;
  top: -7.5px;
  left: -6px;
  border-radius: 50%;
}

